@font-face {
    font-family: 'Essonnes';
    src: local('Essonnes Display Regular'), local('Essonnes-Display-Regular'),
        url('EssonnesDisplay-Regular.woff2') format('woff2'),
        url('EssonnesDisplay-Regular.woff') format('woff'),
        url('EssonnesDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

